@import "tailwindcss";

:root {
  --nav-background: var(--p-surface-100);
  --topbar-sticky-border: #e2e8f0;

  --body-bg: var(--p-surface-0);
  --body-text-color: var(--p-surface-900);
  --card-border: 1px solid var(--border-color);
  --card-bg: var(--p-surface-0);
  --border-color: var(--p-surface-200);
  --text-color: var(--p-surface-700);
  --overlay-background: #ffffff;
  --p-tabs-tablist-background: transparent;
  --p-tabs-tabpanel-background: transparent;
  --p-tabs-tabpanel-padding: 0.875rem 0rem 0rem 0rem !important;

  --container-bg: var(--p-surface-0);

  --icon-color: rgb(113, 112, 112);
  --icon-color-selected: rgb(59, 59, 59);

  --nav-link-color: rgb(113, 112, 112);
  --nav-link-color-selected: rgb(59, 59, 59);

  --toolbar-text-color: rgb(50, 50, 50);

  --scrollpanel-bar-color: #959596;
  --scrollpanel-bar-size: 15px;
  --scrollpanel-bar-border-radius: 7px;

  --menu-item-color: #334155;
  --menu-item-focus-background: #f1f5f9;

  --card-background: #ffffff;
  --card-background-disabled: #ffffff7c;
  --card-color: #334155;
  --card-shadow: 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --card-border-radius: 12px;

  --flow-control-icon-color: rgb(113, 112, 112);
  --flow-control-icon-color-hover: rgb(59, 59, 59);

  --p-tree-indent: 1.5rem;

  --p-button-sm-icon-only-width: 2rem;

  --p-toast-width: 21rem;

  --banner-background: #ededf1;
  --banner-background-alt: #ffffff;

  --text-alt: var(--color-stone-800);
}

:root[class="dark-mode"] {
  --nav-background: #0d0d0d;
  --topbar-sticky-border: #3f3f46;

  --body-bg: var(--p-neutral-900);
  --body-text-color: var(--p-surface-50);
  --card-border: 1px solid transparent;
  --card-bg: var(--p-surface-900);
  --border-color: rgba(255, 255, 255, 0.1);
  --text-color: var(--p-surface-0);
  --overlay-background: var(--p-surface-900);
  --p-tabs-tablist-background: transparent;
  --p-tabs-tabpanel-background: transparent;
  --p-tabs-tabpanel-padding: 0.875rem 0rem 0rem 0rem;

  --container-bg: var(--p-surface-900);

  --icon-color: rgb(125, 124, 126);
  --icon-color-selected: rgb(214, 210, 216);

  --nav-link-color: rgb(125, 124, 126);
  --nav-link-color-selected: rgb(214, 210, 216);

  --toolbar-text-color: #a1a1aa;

  --scrollpanel-bar-color: #27272a;
  --scrollpanel-bar-size: 15px;
  --scrollpanel-bar-border-radius: 7px;

  --p-inputtext-background: #18181b;
  --p-multiselect-background: #18181b;
  --p-textarea-background: #18181b;
  --p-select-background: #18181b;
  --p-floatlabel-on-active-background: #18181b;

  /* --p-togglebutton-border-color: var(--p-surface-950); */
  /* --p-togglebutton-checked-border-color: var(--p-surface-950); */
  /* --p-togglebutton-background: var(--p-surface-950); */
  /* --p-togglebutton-checked-background: var(--p-surface-950); */
  --p-togglebutton-border-color: var(--nav-background);
  --p-togglebutton-checked-border-color: var(--nav-background);
  --p-togglebutton-background: var(--nav-background);
  --p-togglebutton-checked-background: var(--nav-background);

  --menu-item-color: #ffffff;
  --menu-item-focus-background: #27272a;

  --card-background: #18181b;
  --card-background-disabled: #18181b7c;
  --card-color: #ffffff;
  --card-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --card-border-radius: 12px;

  --flow-control-icon-color: rgb(181, 179, 182);
  --flow-control-icon-color-hover: rgb(227, 224, 229);

  --p-tree-indent: 1.5rem;

  --p-button-sm-icon-only-width: 2rem;

  --p-toast-width: 21rem;

  --banner-background: #121212;
  --banner-background-alt: #1e1e20;

  --text-alt: var(--color-stone-400);
}

html {
  min-width: 0;
  height: 100%;
  background-color: var(--body-bg);
}

body {
  margin: 0px;
  display: flex;
  min-width: 0;
  height: 100%;
  background-color: var(--body-bg);
}

#app {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 100%;
}

.layout-test {
  border: 2px dotted rgb(91, 91, 91);
  border-radius: 6px;
}

.layout-content a:not(.p-tab > a):not(.p-breadcrumb-item > a) {
  color: var(--p-primary-color);
}

.card {
  background: var(--card-bg);
  border: var(--card-border);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.layout-content-center {
  padding: 1rem 1rem 1rem 1rem;
  width: 100%;
  height: 100%;
  min-width: 0;
  max-width: 100%;
}

.toolbar-text {
  color: var(--toolbar-text-color);
}

.border-card {
  border-color: var(--p-content-border-color);
}

.p-overlaybadge.tiny>.p-badge {
  font-size: 0.5rem;
  min-width: 1rem;
  height: 1rem;
}

.btn-small-badge>.p-badge {
  transform: translate(10%, -10%) !important;
  font-size: 0.5rem;
  min-width: 1rem;
  height: 1rem;
}

.btn-small-badge.empty>.p-badge {
  display: none;
}

.p-button-sm.p-button-icon-only.p-button-rounded {
  height: var(--p-button-sm-icon-only-width);
}

.p-button-sm.p-button-icon-only {
  width: var(--p-button-sm-icon-only-width);
}

.p-toast-summary {
  /* font-size: 0.875rem !important; */
  margin-top: -3px;
}

.p-dialog-header-actions>.p-button:focus {
  outline: none !important;
}

.p-splitterpanel:focus {
  outline: none !important;
}

.p-splitterpanel:focus-visible {
  outline: none !important;
}

.p-image-mask .p-image-toolbar .p-image-rotate-right-button,
.p-image-mask .p-image-toolbar .p-image-rotate-left-button {
  display: none !important;
}

.text-alt {
  color: var(--text-alt);
}

::-webkit-scrollbar {
  width: var(--scrollpanel-bar-size);
  height: var(--scrollpanel-bar-size);
}

::-webkit-scrollbar-track {
  background: transparent;
  /* background-color: var(--nav-background); */
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollpanel-bar-color);
  border-radius: var(--scrollpanel-bar-border-radius);
  border: 3px solid transparent;
  background-clip: padding-box;
  cursor: pointer;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@media screen and (min-width: 1280px) {
  .layout-content-center {
    margin: 0 auto;
    max-width: 1280px;
    width: 1280px;
    min-width: 0;
    max-width: 100%;
  }
}

@supports (scrollbar-gutter: stable) {
  .scroll-panel {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}